.footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;  /* Asegura que el footer abarque toda la anchura */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #aaffaa;
}
